@charset "UTF-8";
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.wrapper {
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f9fbee;
  z-index: 9999;
}

.header__burger {
  display: none;
}

body {
  font-family: "Inter", "Roboto", "Manrope", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  background-color: #f9fbee;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: black;
  display: inline-block;
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

img {
  border-radius: 20px;
  max-width: 100%;
}

h1 {
  margin: 0;
}

.top__line {
  width: 100%;
  background-color: #008B8B;
  margin-bottom: 12px;
}

.top__line-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 0;
}

.top__line-text {
  margin-left: 8px;
}

.top-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: white;
}

.nav {
  max-width: 100%;
  height: 68px;
  border-bottom: 1px solid #E1E3D6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 10;
  position: relative;
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 100%;
  gap: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__menu-item {
  position: relative;
  border: 1px solid transparent;
  padding: 10px 12px;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}
.nav__menu-item:hover {
  border: 1px solid #008B8B;
}

.nav__menu-elem {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.nav__menu-btn {
  position: relative;
  background-color: transparent;
  border: none;
}
.nav__menu-btn::after {
  content: "";
  top: 4px;
  right: -12px;
  position: absolute;
  display: inline-block;
  border: solid black;
  border-width: 0 2px 2px 0;
  padding: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.nav__dropdown {
  padding: 10px 24px 10px 12px;
}

.dropdown-menu {
  position: absolute;
  background-color: #008B8B;
  min-width: 218px;
  top: 42px;
  left: -1px;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0.2s, opacity 0.2s, -webkit-transform 0.2s;
  transition: visibility 0.2s, opacity 0.2s, -webkit-transform 0.2s;
  transition: visibility 0.2s, opacity 0.2s, transform 0.2s;
  transition: visibility 0.2s, opacity 0.2s, transform 0.2s, -webkit-transform 0.2s;
  z-index: 1;
}

.dropdown-menu-elem {
  font-size: 14px;
  position: relative;
  margin: 15px 20px;
  color: white;
}

.dropdown-menu-elem:hover:after,
.dropdown-menu-elem:focus:after {
  width: 100%;
}

.dropdown-menu-elem::after {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  width: 0;
  height: 2px;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
  background-color: white;
  z-index: 99;
}

.menu-wi {
  min-width: 230px;
}

.nav__menu-item.nav_open .dropdown-menu {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.nav__menu-item.nav_open .nav__menu-btn::after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 9px;
  right: -12px;
}

.logo {
  width: 27%;
  display: block;
}

.nav__logo {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.baner {
  position: relative;
  margin-top: 232px;
}

.baner__slider {
  position: relative;
  background: url("./img/road.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 476px;
  background-color: black;
  width: 100%;
  border-radius: 20px;
}

.baner__title {
  color: white;
  font-size: 52px;
  font-weight: 600;
  line-height: 54px;
  margin-bottom: 30px;
  max-width: 70%;
  z-index: 9;
}

.baner__text {
  color: white;
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 30px;
  z-index: 9;
}

.baner__btn-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 44px;
}

.baner__btn {
  font-size: 24px;
  color: white;
  border: 1px solid white;
  padding: 20px 24px;
  border-radius: 50px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  z-index: 9;
}
.baner__btn:hover {
  border: 1px solid transparent;
  background-color: #93AA00;
  color: black;
}

.baner__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 125px 0px 0px 166px;
}

.swiper-button-prev,
.swiper-button-next {
  color: white;
}

.content {
  margin-top: 100px;
  height: 100%;
  background-color: #008B8B;
  padding: 60px 0;
}
.content .content__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content .content__wrap .content__block {
  max-width: 346px;
  background-color: white;
  border-radius: 10px 10px 5px 5px;
  overflow: hidden;
  color: black;
}
.content .content__wrap .content__block:first-child {
  margin: 0;
}

.content__img-item {
  border-radius: 0;
}

.content__items {
  padding: 33px 0 26px 24px;
}

.content__item {
  display: block;
  padding: 23px 16px 26px 0;
}
.content__item .content__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 56px;
}

.content__subtitle {
  margin-top: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.content__arh {
  text-decoration: underline;
}

.btn {
  color: black;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-right: 110px;
  border-radius: 100px;
  border: 1px solid black;
  cursor: pointer;
  padding: 20px 30px;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.btn:hover {
  color: white;
  background-color: #A8B50A;
  border: 1px solid transparent;
}

.form__section {
  position: relative;
  margin-top: 100px;
}
.form__section .form__title {
  min-width: 718px;
  margin-bottom: 44px;
}
.form__section .form__title .form-color {
  margin-left: 180px;
}
.form__section .form-color {
  margin: 0;
}
.form__section .form__items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form__section .form__items::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: rgba(51, 51, 51, 0.5) url("../img/icon/load.gif") center/100px no-repeat;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.form__section .form__items .form__items._sending::before {
  opacity: 1;
  visibility: visible;
}
.form__section .form__items .form__item {
  width: 50%;
  display: block;
}
.form__section .form__items .form__item .form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__section .form__items .form__item .form__row .form__input {
  border-radius: 50px;
  border: 1px solid black;
  background-color: #f9fbee;
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  padding: 20px 0px 20px 36px;
  margin-bottom: 20px;
  resize: none;
}
.form__section .form__items .form__item .form__row .form__input:focus {
  outline: none;
}
.form__section .form__items .form__item .form__row .form__input._error {
  border: 1px solid #F75C53;
}
.form__section .form__items .form__item .form__row .form__input--textarea {
  padding: 26px 172px 100px 36px;
  border-radius: 50px;
}
.form__section .form__items .form__item .form__btn .btn {
  width: 100%;
  text-align: center;
  border-radius: 50px;
  border: 1px solid transparent;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background: #93AA00;
  cursor: pointer;
  padding: 17px 0px;
}
.form__section .form__items .form__item .form__btn .btn:hover {
  border: 1px solid transparent;
  background: #CEEA19;
  color: black;
}
.form__section .form__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__section .form__social-blocks {
  max-width: 100%;
}
.form__section .form__social-block {
  background-color: #008B8B;
  border-radius: 20px 20px 0 0;
  padding: 20px 42px 16px 42px;
}
.form__section .form__social-block .form__social-subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  color: white;
  line-height: 30px;
  margin-bottom: 26px;
}
.form__section .form__social-block .form__social-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-top: 51px;
  color: #FFFFFF;
}
.form__section .for-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.form__social-img {
  border-radius: 0px 0px 20px 20px;
}

.footer {
  margin-top: 100px;
  background-color: #008B8B;
  padding-top: 60px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item {
  max-width: 50%;
}

.footer__title-text {
  color: white;
  font-size: 24px;
  margin-bottom: 40px;
}

.footer__text {
  color: white;
  font-size: 14px;
  margin-bottom: 16px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.83);
  top: 0;
  left: 0;
  z-index: 9999;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  visibility: hidden;
  opacity: 0;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  padding: 30px 10px;
}

.popup__content {
  background-color: #FEFFF5;
  color: #272727;
  max-width: 100%;
  padding: 88px 80px 72px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup.open .popup__content {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.popup__title {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 140%;
}

.popup__text {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
}

.popup__form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.popup__label {
  margin-bottom: 24px;
}

.popup__input {
  border-radius: 50px;
  border: 1px solid black;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  padding: 20px 292px 20px 36px;
  margin-bottom: 20px;
  resize: none;
}
.popup__input:focus {
  outline: none;
}

.popup__input._error {
  border: 1px solid #F75C53;
}

.popup__check {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.popup__t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #969995;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.popup__t::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.popup__t .popup__color {
  border-bottom: 1px solid #93AA00;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-left: 7px;
  color: #93AA00;
}

.popup__check._error .popup__t::before {
  border: 1px solid #F75C53;
}

input:not(:disabled):not(:checked) + span:hover::before {
  border-color: #93AA00;
}

input:not(:disabled):active + span::before {
  background-color: transparent;
  border-color: #93AA00;
}

input:focus:not(:checked) + span::before {
  border-color: #93AA00;
}

input:checked + span::before {
  border-color: #93AA00;
  background-color: #93AA00;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.popup__btn {
  margin-bottom: 30px;
}
.popup__btn .btn {
  width: 100%;
  text-align: center;
  border-radius: 50px;
  border: 1px solid transparent;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background: #93AA00;
  cursor: pointer;
  padding: 20px 220px;
}
.popup__btn .btn:hover {
  border: 1px solid transparent;
  background: #CEEA19;
  color: black;
}

.popup__subtitle {
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #272727;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 140%;
}

.popup__line-phone {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-transform: uppercase;
  /* Тёмный цвет текста */
  color: #272727;
}

.popup__close {
  position: absolute;
  top: 0;
  right: -231px;
}

.popup__input--textarea {
  border-radius: 50px;
  border: 1px solid black;
  background-color: #f9fbee;
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  padding: 20px 292px 20px 36px;
  margin-bottom: 20px;
  resize: none;
  padding: 26px 172px 100px 36px;
  border-radius: 50px;
}
.popup__input--textarea:focus {
  outline: none;
}