.footer {
  margin-top: 100px;
  background-color: #008B8B;
  padding-top: 60px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__item {
  max-width: 50%;
}

.footer__title-text {
  color: white;
  font-size: 24px;
  margin-bottom: 40px;
}
.footer__text {
  color: white;
  font-size: 14px;
  margin-bottom: 16px;
}
.text__phone {
  font-size: 14px;
  color: white;
}
.text__mail {
  font-size: 14px;
  color: white;
}
.footer__text-polit {
  font-size: 10px;
  color: white;
}
.footer__about {
  margin-top: 20px;
  color: white;
  border: 1px solid white;
  padding: 10px 10px;
  border-radius: 50px;
  transition: background-color 0.2s;
  &:hover {
    border: 1px solid transparent;
    background-color: #93AA00;
    color: black;
  }
}
