.top__line {
  width: 100%;
  background-color: #008B8B;
  margin-bottom: 12px;
}

.top__line-items {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}
.top__line-text {
  margin-left: 8px;
}
.top-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: white;
}
